<!DOCTYPE html>
<html>
<body>
    <h2>Photo Details</h2>

    <img src="/{{ data[3] }}" width="300"><br><br>

    <p><strong>Name:</strong> {{ data[1] }}</p>
    <p><strong>File Name:</strong> {{ data[2] }}</p>
    <p><strong>Upload Time:</strong> {{ data[4] }}</p>
    <p><strong>Date Taken:</strong> {{ data[5] }}</p>
    <p><strong>Make:</strong> {{ data[6] }}</p>
    <p><strong>Model:</strong> {{ data[7] }}</p>
    <p><strong>GPS Latitude:</strong> {{ data[8] }}</p>
    <p><strong>GPS Longitude:</strong> {{ data[9] }}</p>
    <p><strong>SHA-256 Hash:</strong> {{ data[10] }}</p>

</body>
</html>